<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

로그인한 정보다

<table>
    <tr>
        <th>아이디</th>
        <th>비밀번호</th>
        <th>이메일</th>
        <th>전화번호</th>
    </tr>

    <tr>
        <td th:text="${logininfo.memberId}"></td>
        <td th:text="${logininfo.memberPassword}"></td>
        <td th:text="${logininfo.memberEmail}"></td>
        <td th:text="${logininfo.memberPhoneNum}"></td>
    </tr>
</table>

<a href="/member/update">수정하기</a>

<a th:href="@{|/member/delete/${logininfo.memberId}|}">삭제하기</a>

<br>

<a href="/shop/save">창업하기</a>

<br>

<h1>내가 관리하는 가게</h1>

<table>
    <tr>
        <th>번호</th>
        <th>이름</th>
        <th>전화번호</th>
        <th>주소</th>
        <th>수정</th>
        <th>삭제</th>
    </tr>

    <tr th:each="tatata : ${loginshopinfo}">
        <td th:text="${tatata.shopId}"></td>
        <td th:text="${tatata.shopName}"></td>
        <td th:text="${tatata.shopPhoneNum}"></td>
        <td th:text="${tatata.shopAddress}"></td>
        <td>
            <a th:href="@{|/shop/update/${tatata.shopId}|}">수정</a>
        </td>
        <td>
            <a th:href="@{|/shop/delete/${tatata.shopId}|}">삭제</a>
        </td>
    </tr>
</table>

<a href="/shop">가게 전부 보기</a>
<a href="/">메인 화면</a>


</body>
</html>