<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>가게 정보</h1>

<table>
    <tr>
        <th>가게번호</th>
        <th>가게이름</th>
        <th>주인장</th>
        <th>전화번호</th>
        <th>주소</th>
    </tr>

    <tr>
        <td th:text="${shopdetail.shopId}"></td>
        <td th:text="${shopdetail.shopName}"></td>
        <td th:text="${shopdetail.memberId}"></td>
        <td th:text="${shopdetail.shopPhoneNum}"></td>
        <td th:text="${shopdetail.shopAddress}"></td>
    </tr>
</table>
<br>
<br>
<br>
<br>

<h2>메 뉴</h2>

<table>
    <tr>
        <th>간식 이름</th>
        <th>가격</th>
        <th th:if="${session['loginmemberId'] == shopdetail.memberId}"></th>
    </tr>

    <tr th:each="adadad: ${menu}">
        <td th:text="${adadad.dessertName}"></td>
        <td th:text="${adadad.dessertPrice}"></td>
        <td th:if="${session['loginmemberId'] == shopdetail.memberId}">
            <form th:action="@{|/dessert/delete/${adadad.dessertId}|}" method="post">
                <input type="submit" value="X">
            </form>
        </td>
    </tr>
</table>





<br>
<br>
<br>
<br>


<div th:if="${session['loginmemberId'] == shopdetail.memberId}">
    <form action="/dessert/save" method="post">
        <input type="hidden" th:value="${shopdetail.shopId}" name="shopId">
        간식 이름: <input type="text" name="dessertName">
        간식 가격: <input type="text" name="dessertPrice">
        <input type="submit" value="메뉴 등록">
    </form>
</div>
<br>
<a th:href="@{|/member/${session.loginmemberId}|}">내 정보 보기</a>
<a href="/shop">가게 전부 보기</a>

</body>
</html>