<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>가게 정보</h1>

<table>
    <tr>
        <th>가게번호</th>
        <th>가게이름</th>
        <th>주인장</th>
        <th>전화번호</th>
        <th>주소</th>
    </tr>

    <tr>
        <td th:text="${shopdetail.shopId}"></td>
        <td th:text="${shopdetail.shopName}"></td>
        <td th:text="${shopdetail.memberId}"></td>
        <td th:text="${shopdetail.shopPhoneNum}"></td>
        <td th:text="${shopdetail.shopAddress}"></td>
    </tr>
</table>

<h2>메 뉴</h2>

<a href="/shop">가게 전부 보기</a>

</body>
</html>