<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/member/update" method="post">
    아이디: <input type="text" th:value="${memberupdate.memberId}" name="memberId" readonly><br>
    비밀번호: <input type="password" th:value="${memberupdate.memberPassword}" name="memberPassword"><br>
    이메일: <input type="text" th:value="${memberupdate.memberEmail}" name="memberEmail"><br>
    전화번호: <input type="text" th:value="${memberupdate.memberPhoneNum}" name="memberPhoneNum"><br>
    <input type="submit" value="수정하기">
</form>



</body>
</html>